{% extends "base.html" %}

{% block title %}Список клиентов{% endblock %}

{% block content %}
<h2>Список клиентов</h2>
<a href="{{ url_for('views.create_client') }}">Добавить клиента</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер авто</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.surname }}</td>
            <td>{{ client.car_number }}</td>
            <td><a href="{{ url_for('views.view_client', client_id=client.id) }}">Просмотр</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}